<h1>Angular Webpack App</h1>

<a href="#" class="button" [routerLink]="['/']">Start</a> |
<a href="#" class="button" [routerLink]="['/page']">Page root</a> | 
<a href="#" class="button" [routerLink]="['/page', 'page1']">Page 1</a> | 
<a href="#" class="button" [routerLink]="['/page', 'page2']">Page 2</a> |
<a href="#" class="button" [routerLink]="['/test' ]">Test root</a>  |
<a href="#" class="button" [routerLink]="['/test', 'details', '10']">Test details 10</a> 

<router-outlet></router-outlet>